<div id="store-home-component" *ngIf="isVisible">
  <div class="f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div>
      <h3 class="text-center">
        <a routerLink="/retailers">{{retailerDetails.name}}</a> --> Store List</h3>
      <button type="button" class="btn btn-lg btn1" (click)=OnCreateStore()>Create New Store</button>
      <span class="m1">
        <input type="text" placeholder="Search by Store name.." [(ngModel)]="searchText">
        <button type="button" (click)="onClear()" title="clear">
          <i class="fa fa-times"></i>
        </button>
      </span>
    </div>
    <br>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource| searchFilter: searchText:'storeName':'storeName'">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Store Name</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.storeName}} </td>
        </ng-container>
        <ng-container matColumnDef="locality">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Locality </b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.landmark}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Action</b>
          </th>
          <td mat-cell *matCellDef="let row">
            <button type="button" (click)="OnUpdateStore(row.id)">update</button>
            <button type="button" (click)="OnViewStore(row.id)">View</button>
            <button type="button" (click)="OnViewAds(row.id)">View Ads</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  </div>
</div>
<app-store-create (showStoreHome)="showStoreHome($event)" #storeCreate></app-store-create>
<app-store-update (showStoreHome)="showStoreHome($event)" #storeUpdate></app-store-update>
<app-store-view (showStoreHome)="showStoreHome($event)" #storeView></app-store-view>
<app-ad-home (showStoreHome)="showStoreHome($event)" #adhome></app-ad-home>