#admin-header-component {
    .f1 {
        line-height: 80px;
        padding-left: 15%;
        margin-bottom: 2%;
        box-shadow: 10px 10px 20px 5px lightgray
    }
    .a1 {
        text-decoration: none;
    }
    .s1 {
        font-size: 35px
    }
}