<div id="ad-change-status-dialog-component">
  <ng2-slim-loading-bar></ng2-slim-loading-bar>
  <h1 mat-dialog-title>Change Ad Status</h1>
  <div>
    <mat-radio-group class="example-radio-group" [(ngModel)]="selectedStatus">
      <mat-radio-button class="example-radio-button" *ngFor="let status of StatusList" [value]="status">
        {{status}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onUpdateClick()" cdkFocusInitial>Update</button>
  </div>
  <div *ngIf="!isSuccessful" class="errorTextColor">
    Error while updating the status
  </div>
</div>