#ad-list-component {
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  td,
  th {
    width: 25%;
  }
  #a1:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #483D8B;
  }
  .f1 {
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 3%
  }
  .th1 {
    font-size: medium
  }
  .b1 {
    background-color: lightgray;
  }
  .m1 {
    margin: 2%
  }
}