<div id="ad-list-component">
  <admin-dashboard></admin-dashboard>
  <div *ngIf="this.visible" class="f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div>
      <h3 class="text-center">Ad List</h3>
      <button type="button" class="b1" class="btn btn-lg" (click)=OnCreateAd()>Create New Ad</button>
      <span class="m1">
        <input type="text" placeholder="Search by shortText.." [(ngModel)]="searchText">
        <button type="button" (click)="onClear()" title="clear">
          <i class="fa fa-times"></i>
        </button>
      </span>
    </div>
    <br>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource| searchFilter: searchText:'shortText':'creationDate':true">
        <ng-container matColumnDef="shortText">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Short text</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.shortText}} </td>
        </ng-container>
        <ng-container matColumnDef="longText">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Long text</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.longText}} </td>
        </ng-container>
        <ng-container matColumnDef="Rname">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Retailer</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.retailerName}} </td>
        </ng-container>
        <ng-container matColumnDef="Sname">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Store</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.storeDetails ? row.storeDetails.storeName : "N/A"}} </td>
        </ng-container>
        <ng-container matColumnDef="locality">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Locality</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.storeDetails ? row.storeDetails.landmark : 'N/A'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  </div>
  <app-ad-create #adCreate></app-ad-create>
</div>