<div id="retailer-create-component" *ngIf="isVisible">
  <div class="f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div class="container backgroundContainer">
      <div class="text-center">
        <h1>Create Retailer</h1>
      </div>
      <div class="row">
        <form #retailer="ngForm">
          <div class="form-group column">
            <label for="name">Name</label>
            <span class="errorTextColor">*</span>
            <input type="text" class="form-control" id="name" required [(ngModel)]="retailerData.name" name="name" #name="ngModel" (blur)="ValidateRetailerNameForuniqueness($event)">
            <div *ngIf="isInvalid" class="alert alert-danger">
              "{{duplicateName}}" is Duplicate!
            </div>
            <div *ngIf="!isInvalid">
              <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                <div [hidden]="!name.errors.required">
                  Retailer name is required!
                </div>
              </div>
            </div>
          </div>
          <div class="form-group column">
            <label for="phoneNumber">phoneNumber</label>
            <input type="text" class="form-control" id="name" minlength="10" maxlength="15" [(ngModel)]="retailerData.phone" name="phoneNumber"
              #phoneNumber="ngModel">
            <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
              <div [hidden]="!phoneNumber.errors.minlength">
                phoneNumber must be at least 10 characters long.
              </div>
              <div [hidden]="!phoneNumber.errors.maxlength">
                phoneNumber cannot be more than 15 characters long.
              </div>
            </div>
          </div>
          <div class="form-group column">
            <label for="EmailId">Email Id</label>
            <input type="text" class="form-control" id="EmailId" pattern="^[a-zA-Z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-za-z]{2,4}$" [(ngModel)]="retailerData.email"
              name="EmailId" #EmailId="ngModel">
            <div *ngIf="EmailId.errors && (EmailId.dirty || EmailId.touched)" class="alert alert-danger">
              <div [hidden]="!EmailId.errors.pattern">
                Must be a valid EmailId!
              </div>
            </div>
          </div>
          <div class="form-group column">
            <label for="url">Website Url</label>
            <input type="text" class="form-control" id="WebsiteUrl" pattern="https?://.+" [(ngModel)]="retailerData.websiteUrl" name="WebsiteUrl"
              #WebsiteUrl="ngModel">
            <div *ngIf="WebsiteUrl.errors && (WebsiteUrl.dirty || WebsiteUrl.touched)" class="alert alert-danger">
              <div [hidden]="!WebsiteUrl.errors.pattern">
                Must be a valid URL!
              </div>
            </div>
          </div>
          <div class="form-group column">
            <label for="retailerName">Country</label>
            <br>
            <mat-form-field>
              <mat-select [(value)]="selectedCountry">
                <mat-option *ngFor="let country of countries" [value]="country.code">
                  {{country.code}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group column">
            <label for="LogoPath">Logo</label>
            <input type="file" class="form-control browse" [(ngModel)]="imageName" name="LogoPath" (change)="getFiles($event)" accept="image/*">
            <span *ngIf="!isValidImgSize" class="errorTextColor">Image size cannot exceed more than 1MB</span>
          </div>
          <div>
            <button type="submit" class="btn btn-default" [disabled]="(!retailer.form.valid)" (click)="OnSave()">Submit</button>
            <span class="btn1"></span>
            <button type="button" class="btn btn-default" (click)="OnCancel()">Cancel</button>
          </div>
          <div *ngIf="showMsg">
            <div *ngIf="!isSuccess" class="errorTextColor"> Error: Create Failed</div>
            <div *ngIf="isSuccess" class="infoTextColor"> Created successfully... Redirecting to retailer details page</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>