<div id="login-component">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-heading">
        <h2 class="text-center">Welcome To ShopWalk</h2>
      </div>
      <div class="text-center" *ngIf="isInvalid">
        <label class="errorTextColor ">Invalid userame or password</label>
      </div>
      <hr />
      <div class="modal-body">
        <input type="text" class="form-control" [(ngModel)]="userName" placeholder="UserName" />
        <br>
        <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" />
        <br>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-lg" (click)="onLoginClick()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>