<div id="ad-home-component" *ngIf="this.visible" >
  <div class="f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div>
      <h3 class="text-center">
        <a routerLink="/retailers">{{retailerDetails.name}}</a> -->
        <a id="a1" class="a1" (click)="OnshowStoreHome()">{{storeDetails.storeName}}</a> --> Ad List</h3>
      <span class="s1">
        <input type="text" placeholder="Search by shortText.." [(ngModel)]="searchText">
        <button type="button" (click)="onClear()" title="clear">
          <i class="fa fa-times"></i>
        </button>
      </span>
    </div>
    <br>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource| searchFilter: searchText:'shortText':'startDate'">
        <ng-container matColumnDef="shortText">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Short Text</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.shortText}} </td>
        </ng-container>
        <ng-container matColumnDef="locality">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Locality</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.storeDetails ? row.storeDetails.landmark : 'N/A'}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Status</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Actions</b>
          </th>
          <td mat-cell *matCellDef="let row">
            <!-- <button type="button" (click)="OnChangeStatus(row)">Change Status</button> -->
            <button type="button" (click)="OnViewDetails(row.id)">View</button>
            <button type="button" (click)="OnViewImages(row.id)">View Images</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  </div>
</div>
<app-ad-view (showAdHome)="showAdHome()" #adView></app-ad-view>
<app-ad-view-images (showAdHome)="showAdHome()" #adViewImages></app-ad-view-images>