<div id="dashboard-detail-component" *ngIf="true">
  <admin-dashboard></admin-dashboard>
  <div class="f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div class="text-center d1">Dashboard Details</div>
    <div>
      <table>
        <tr>
          <th>Info</th>
          <th>Count</th>
        </tr>
        <tr>
          <td>Total No. of Retailers:</td>
          <td>{{retailerCount}}</td>
        </tr>
        <tr>
          <td>Total No. of Stores:</td>
          <td>{{storeCount}}</td>
        </tr>
        <tr>
          <td>Total No. of Adverts:</td>
          <td>{{adCount}}</td>
        </tr>
        <tr>
          <td>Total No. of Active Adverts:</td>
          <td>{{activeAdCount}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>