#dashboard-detail-component {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 30%;
        border: 1px solid #ddd;
        margin-left: auto;
        margin-right: auto;
    }
    th,
    td {
        text-align: left;
        padding: 16px;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    .f1 {
        margin-left: 15%;
        margin-right: 5%;
        margin-top: 3%
    }
    .d1 {
        font-size: x-large;
        margin: 5%
    }
}