#ad-view-images-component {
    .f1 {
        margin-left: 15%;
        margin-right: 5%;
        margin-top: 3%
    }
    .card1 {
        text-align: center;
        margin: 15px
    }
    .img1 {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}