<div id="ad-view-images-component">
  <div class="container backgroundContainer" *ngIf="isVisible" class="f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div class="text-center">
      <h2>View Ad Images </h2>
      <h4>{{adDetails ? adDetails.adName : ""}}</h4>
    </div>
    <div class="container">
      <div class="column">
        <div class="col-lg-12 col-md-12 col-xs-12" *ngFor="let img of this.images">
          <mat-card class="card1">
            <img class="img1" src={{img.url}} alt="Image missing">
          </mat-card>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-default" (click)="OnClose()">Close</button>
    </div>
  </div>
</div>