#ad-view-component {
    .backgroundContainer {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    .column {
        float: left;
        width: 45%;
        margin: 2%
    }
    .f1 {
        margin-left: 15%;
        margin-right: 5%;
        margin-top: 3%
    }
}