<div id="ad-view-component" *ngIf="isVisible">
  <div class="container backgroundContainer" class="f1" >
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div class="text-center">
      <h1>View Ad</h1>
    </div>
    <div class="row">
      <form #ad="ngForm">
        <div class="form-group column">
          <label for="masterId">MasterId</label>
          <input type="text" disabled class="form-control" id="masterId" [(ngModel)]="adDetails.masterId" name="masterId">
        </div>
        <div class="form-group column">
          <label for="retailerName">Retailer Name</label>
          <input type="text" disabled class="form-control" id="retailerName" [(ngModel)]="adDetails.retailerName" name="retailerName">
        </div>
        <div class="form-group column">
          <label for="storeName">Store Name</label>
          <input type="text" disabled class="form-control" id="storeName" value={{adDetails.storeDetails?adDetails.storeDetails.storeName:adDetails.storeId}}
            name="storeName">
        </div>
        <div class="form-group column">
          <label for="shortText">Short text</label>
          <input type="text" disabled class="form-control" id="shortText" [(ngModel)]="adDetails.shortText" name="shortText">
        </div>
        <div class="form-group column">
          <label for="longText">Long text</label>
          <input type="text" disabled class="form-control" id="longText" [(ngModel)]="adDetails.longText" name="longText">
        </div>
        <div class="form-group column">
          <label for="startDate">Start Date</label>
          <input type="text" disabled class="form-control" id="startDate" value={{sDate}} name="startDate">
        </div>
        <div class="form-group column">
          <label for="endDate">End Date</label>
          <input type="text" disabled class="form-control" id="endDate" value={{eDate}} name="endDate">
        </div>
        <div class="form-group column">
          <label for="category">Category</label>
          <input type="text" disabled class="form-control" id="category" [(ngModel)]="adDetails.category" name="category">
        </div>
        <div class="form-group column">
          <label for="ImgUrls">Image Urls</label>
          <textarea disabled class="form-control" id="ImgUrls" [(ngModel)]="originalImgs" name="ImgUrls"></textarea>
        </div>
        <div class="clearfix"></div>
        <div>
          <button type="button" class="btn btn-default" (click)="OnClose()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>