<div id="retailer-update-component" *ngIf="isVisible">
  <div class="f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div class="container backgroundContainer">
      <div class="text-center">
        <h1>Update Retailer</h1>
      </div>
      <div class="row">
        <form #retailer="ngForm">
          <div class="form-group column">
            <label for="name">Name</label>
            <input disabled type="text" class="form-control" id="name" required [(ngModel)]="retailerData.name" name="name" #name="ngModel">
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
            </div>
          </div>
          <div class="form-group column">
            <label for="phoneNumber">phoneNumber</label>
            <input disabled type="text" class="form-control" id="name" [(ngModel)]="retailerData.phone" name="phoneNumber" #phoneNumber="ngModel">
          </div>
          <div class="form-group column">
            <label for="EmailId">Email Id</label>
            <input type="text" class="form-control" id="EmailId" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="retailerData.email"
              name="EmailId" #EmailId="ngModel">
            <div *ngIf="EmailId.errors" class="alert alert-danger">
              <div [hidden]="!EmailId.errors.pattern">
                Must be a valid EmailId!
              </div>
            </div>
          </div>
          <div class="form-group column">
            <label for="url">Website Url</label>
            <input type="text" class="form-control" id="WebsiteUrl" pattern="https?://www.+" [(ngModel)]="retailerData.websiteUrl" name="WebsiteUrl"
              #WebsiteUrl="ngModel">
            <div *ngIf="WebsiteUrl.errors" class="alert alert-danger">
              <div [hidden]="!WebsiteUrl.errors.pattern">
                Must be a valid URL!
              </div>
            </div>
          </div>
          <div class="form-group column">
            <label for="LogoUrl">Logo Url</label>
            <input disabled type="text" class="form-control" id="LogoUrl" [(ngModel)]="retailerData.logoUrl" name="LogoUrl">
          </div>
          <div class="form-group column">
            <label for="LogoPath">Logo Path</label>
            <input type="file" class="form-control browse" [(ngModel)]="imageName" name="LogoPath" (change)="getFiles($event)" accept="image/*">
            <span *ngIf="!isValidImgSize" class="errorTextColor">Image size cannot exceed more than 1MB</span>
          </div>
          <div class="form-group column">
            <label for="retailerName">Country</label>
            <br>
            <mat-form-field>
              <mat-select [(value)]="retailerData.country">
                <mat-option *ngFor="let country of countries" [value]="country.code">
                  {{country.code}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <button type="submit" class="btn btn-default" [disabled]="!retailer.form.valid" (click)="OnSave()">Submit</button>
            <span class="m1"></span>
            <button type="button" class="btn btn-default" (click)="OnCancel()">Cancel</button>
          </div>
          <div *ngIf="showMsg">
            <div *ngIf="!isSuccess" class="errorTextColor"> Error: Save Failed</div>
            <div *ngIf="isSuccess" class="infoTextColor"> Updated successfully... Redirecting to retailer details page</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>