<div id="location-change-dialog-component" class="text-center globalfontStyle">
  <ng2-slim-loading-bar></ng2-slim-loading-bar>
  <div mat-dialog-title class="header globalfontStyle">Change your location</div>
  <br>
  <div>
   
    <input autofocus ngx-google-places-autocomplete style="width: 100%" [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
    />
  </div>
  <br>
  <div class="globalfontStyle">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onUpdateClick()" cdkFocusInitial disabled={{isUpdated}}>Update</button>
    <button mat-button (click)="onClearClick()" title="clear current location" disabled={{this.currentLocation?false:true}}>Clear</button>
  </div>
  <div *ngIf="!isSuccessful" class="errorTextColor globalfontStyle">
    Error while updating location!!
  </div>
</div>