#location-change-dialog-component {
    .header {
        padding-left: 5%;
        margin-bottom: 2%;
    }
    @media only screen and (max-width: 767px) {
        .header {
            // background: orange;
            font-size: smaller;
        }
        .s1 {
            font-size: small;
        }
        .s2 {
            font-size: x-small;
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    /*iPadAir*/
    @media only screen and (min-width: 768px) {
        .header {
            // background: green;
            font-size: medium;
        }
        .s1 {
            font-size: medium;
        }
        .s2 {
            font-size: smaller;
        }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 1270px) {
        .header {
            // background: pink;
            font-size: larger;
        }
        .s1 {
            font-size: large;
        }
        .s2 {
            font-size: medium;
        }
    }
}