#ad-update-component {
    .backgroundContainer {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    .s1 {
        margin: 2px
    }
}