<div id="ad-update-component">
  <app-admin-header></app-admin-header>
  <div class="container backgroundContainer">
    <div class="text-center">
      <h1>Update Ad</h1>
    </div>
    <form #ad="ngForm">
      <div class="form-group">
        <label for="retailerName">Retailer Name</label>
        <input type="text" disabled class="form-control" id="retailerName" [(ngModel)]="adDetails.retailerId" name="retailerName">
      </div>
      <div class="form-group">
        <label for="storeName">Store Name</label>
        <input type="text" disabled class="form-control" id="storeName" [(ngModel)]="adDetails.storeId" name="storeName">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <span class="errorTextColor">*</span>
        <input type="text" class="form-control" id="name" required [(ngModel)]="adDetails.adName" name="name" #name="ngModel">
        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
          <div [hidden]="!name.errors.required">
            Ad name is required!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="adText">Ad text</label>
        <input type="text" class="form-control" id="adText" [(ngModel)]="adDetails.adText" name="adText">
      </div>
      <div class="form-group">
        <label for="Latitude">Latitude</label>
        <input type="text" class="form-control" id="Latitude" [(ngModel)]="this.adDetails.location.latitude" name="Latitude">
      </div>
      <div class="form-group">
        <label for="Longitude">Longitude</label>
        <input type="text" class="form-control" id="Longitude" [(ngModel)]="this.adDetails.location.longitude" name="Longitude">
      </div>
      <div class="form-group">
        <label for="distance">Distance</label>
        <input type="text" class="form-control" id="distance" [(ngModel)]="adDetails.distance" name="distance">
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" [(ngModel)]="adDetails.startDate" name="startDate">
      </div>
      <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" class="form-control" id="endDate" [(ngModel)]="adDetails.endDate" name="endDate">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" [(ngModel)]="adDetails.category" name="category">
      </div>
      <div class="form-group">
        <label for="ImgUrls">Image Urls</label>
        <input type="text" class="form-control" id="ImgUrls" [(ngModel)]="adDetails.category" name="ImgUrls">
        <!-- this.adDetails.adImageUrls ? this.adDetails.adImageUrls[0].imageUrl : ""no images"" -->
      </div>
      <div class="form-group">
        <label for="adPdf">Ad pdf</label>
        <input type="text" class="form-control" id="adPdf" [(ngModel)]="adDetails.adPdf" name="adPdf">
      </div>
      <div>
        <button type="submit" class="btn btn-default" [disabled]="!ad.form.valid" (click)="OnSave()">Submit</button>
        <span class="s1"></span>
        <button type="button" class="btn btn-default" (click)="OnCancel()">Cancel</button>
      </div>
      <div *ngIf="showMsg">
        <div *ngIf="!isSuccess" class="errorTextColor"> Error: Update Failed</div>
        <div *ngIf="isSuccess" class="infoTextColor"> Updated successfully... Redirecting to Ad list page</div>
      </div>
    </form>
  </div>
</div>