<div id="retailer-home-component">
  <admin-dashboard></admin-dashboard>
  <div *ngIf="this.visible" class="f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div>
      <h3 class="text-center">Retailer List</h3>
      <button type="button" class="btn btn-lg btn1" (click)=OnCreateRetailer()>Create New Retailer</button>
      <span class="m1">
        <input type="text" placeholder="Search by Retailer name.." [(ngModel)]="searchText">
        <button type="button" (click)="onClear()" title="clear">
          <i class="fa fa-times"></i>
        </button>
      </span>
    </div>
    <br>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource| searchFilter: searchText:'name':'name'">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Name</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Retailer Id</b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Phone Number </b>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="th1">
            <b>Action</b>
          </th>
          <td mat-cell *matCellDef="let row">
            <button type="button" (click)="OnUpdateRetailer(row.id)">update</button>
            <button type="button" (click)="OnViewRetailer(row.id)">View</button>
            <button type="button" (click)="OnViewStores(row.id)">View Stores</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  </div>
</div>
<app-retailer-create #retailerCreate></app-retailer-create>
<app-retailer-update #retailerUpdate></app-retailer-update>
<app-retailer-view #retailerView></app-retailer-view>
<app-store-home #storehome></app-store-home>