#retailer-home-component {
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  td,
  th {
    width: 25%;
  }
  .f1 {
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 3%
  }
  .m1 {
    margin: 2%
  }
  .th1 {
    font-size: medium
  }
  .btn1 {
    background-color: lightgray;
  }
}