<div id="retailer-view-component" *ngIf="isVisible">
  <div class="container backgroundContainer" class="f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div class="text-center">
      <h1>View Retailer</h1>
    </div>
    <div class="row">
      <form #retailer="ngForm">
        <div class="form-group column">
          <label for="name">Name</label>
          <span class="errorTextColor">*</span>
          <input disabled type="text" class="form-control" id="name" [(ngModel)]="retailerData.name" name="name" #name="ngModel">
        </div>
        <div class="form-group column">
          <label for="phoneNumber">phoneNumber</label>
          <input disabled type="text" class="form-control" id="name" [(ngModel)]="retailerData.phone" name="phoneNumber" #phoneNumber="ngModel">
        </div>
        <div class="form-group column">
          <label for="EmailId">Email Id</label>
          <input disabled type="text" class="form-control" id="EmailId" [(ngModel)]="retailerData.email" name="EmailId" #EmailId="ngModel">
        </div>
        <div class="form-group column">
          <label for="url">Website Url</label>
          <input disabled type="text" class="form-control" id="WebsiteUrl" [(ngModel)]="retailerData.websiteUrl" name="WebsiteUrl"
            #WebsiteUrl="ngModel">
        </div>
        <div class="form-group column">
          <label for="LogoPath">Logo</label>
          <input disabled type="text" class="form-control" id="LogoPath" [(ngModel)]="retailerData.logoUrl" name="LogoPath" #LogoPath="ngModel">
        </div>
        <div class="form-group column">
          <label for="retailerName">Country</label>
          <br>
          <mat-form-field>
            <mat-select disabled [(value)]="selectedCountry">
              <mat-option *ngFor="let country of countries" [value]="country.code">
                {{country.code}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button type="button" class="btn btn-default" (click)="OnClose()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>