#main-gallery-component {
  .t1 {
    padding-bottom: 5%;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .responsive {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 200%;
    opacity: 0.5;
    padding: 10%;
  }

  .MyButton {
    text-align: center;
    cursor: pointer; // font-weight: bold; // font-size: 150%;
  }

  .MyButton:hover {
    // color: #ffff00;
    // background: #000;
    // border: 1px solid #fff;
    // opacity: 0.5;
    background-color: darkred;
  }

  .example-card {
    max-width: inherit;
    float: left;
    margin: 5px;
  }

  .mat-grid-tile {
    border-style: groove;
  }

  .rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

  .gridSettings {
    height: 400px;
  }

  .cardDimention {
    height: 450px;
    margin: 10px;
    padding: 5px;
  }

  .cardDimention:hover .image {
    opacity: 0.3;
  }

  .header {
    line-height: 80px;
    padding-left: 5%;
    margin-bottom: 2%;
    background-color: #ed3136; // box-shadow: 10px 10px 20px 5px lightgray
  }

  .s1 {
    font-size: 35px;
    color: white;
  }

  .c1 {
    color: white;
  }

  .c2 {
    cursor: pointer;
    color: white;
  }

  .img1 {
    height: 50px;
    width: 50px; // float: right;
    margin-right: 5%;
    margin-top: 1%;
    cursor: pointer;
  }

  .img1:hover {
    background-color: darkred;
  }

  .d1 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .d2 {
    padding-left: 5px;
    padding-right: 5px
  }

  .d3 {
    height: 10%;
    text-align: center
  }

  .d4 {
    height: 75%;
    border-top-style: outset;
    border-bottom-style: outset;
  }

  .img2 {
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }

  .d5 {
    height: 15%;
  }

  .s2 {
    float: left;
    width: 50%;
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .s3 {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 100%;
  }

  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /*ex: iphone 6*/
  @media only screen and (max-width: 767px) {
    .s1 {
      font-size: 30px;
    }

    .img1 {
      height: 40px;
      width: 40px;
      margin-right: 10%;
    }

    .cardDimention {
      height: 450px;
      margin: 10px;
      padding: 5px;
    }

    .c1 {
      display: none;
    }

    .s2 {
      font-size: 90%;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .s3 {
      font-size: 90%;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  /*iPadAir*/
  @media only screen and (min-width: 768px) {
    .cardDimention {
      height: 350px;
      margin: 10px;
      padding: 5px;
    }

    .c1 {
      display: none;
    }

    .s2 {
      font-size: 70%;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .s3 {
      font-size: 70%;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 1270px) {
    .cardDimention {
      height: 450px;
      margin: 10px;
      padding: 5px;
    }

    .c1 {
      display: unset;
    }

    .s2 {
      font-size: 100%;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .s3 {
      font-size: 100%;
    }
  }
}

.footer {
  width: 100%;
  background-color: #ed3136;
  text-align: center;
  margin-top: 40px;
}

.f1 {
  margin: 1%;
  color: lightgrey;
}

.f1:hover {
  color: white;
}

.noDecoration {
  text-decoration: none;
}