<div id="main-gallery-component" style="min-height: calc(100vh);" *ngIf="isVisible">
  <div class="container-fluid header globalfontStyle">
    <div *ngIf="isLargeScreen">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <span class="s1">ShopWalk</span>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: center; ">
          <img class="img1" src="../../assets/images/icons/Current Location.svg" alt="Current location"  (click)="OnLocationClick()"title={{shortAddress}}>
          <img *ngIf="isFetchingLocation" class="img1" src="../../assets/images/icons/spinner.gif" alt="Fetching location Spinner">
          <span *ngIf="!isFetchingLocation" class="c1">{{shortAddress}}</span>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 MyButton">
          <div id="newId" class="c2" onClick="window.open('http://www.google.com','_blank');">Create Ad</div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        </div>
      </div>
    </div>
    <div *ngIf="isMediumScreen">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <span class="s1">ShopWalk</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 MyButton" style="text-align: center; " (click)="OnLocationClick()">
          <img class="img1" src="../../assets/images/icons/Current Location.png" alt="Current location" title={{shortAddress}}>
          <span class="c1">{{shortAddress}}</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 MyButton">
          <div id="newId" class="c2" onClick="window.open('http://www.google.com','_blank');">Create Ad</div>
        </div>
      </div>
    </div>
    <div *ngIf="isSmallScreen">
      <span class="s1" style="float: left;">ShopWalk</span>
      <span style="float: right; width: 30%" id="newId" class="c2 MyButton" onClick="window.open('http://www.google.com','_blank');">Create
        Ad
      </span>
      <span class="MyButton" style="float: right; width: 15%" (click)="OnLocationClick()">
        <img class="img1" src="../../assets/images/icons/Current Location.png" alt="Current location" title={{shortAddress}}>
      </span>
      <div style="clear: both;"></div>
    </div>
  </div>
  <div *ngIf="this.adList.length === 0 && !isAdAvailable">
    <div class="responsive">Loading deals in your location</div>
  </div>
  <div *ngIf="isAdAvailable">
    <div class="responsive">No deals found near your location. You can search deals at a different location of your interest</div>
  </div>
  <div *ngIf="this.adList.length >= 0" class="d1 globalfontStyle">
    <div class="row card-group">
      <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 d2" *ngFor="let ad of this.adList">
        <mat-card class="cardDimention">
          <div class="d3 globalfontStyle">
            <b>{{ad.retailerName}}</b>
          </div>
          <div class="image d4">
            <picture>
              <source media="(min-width: {{largeRes}})" srcset="{{ad.coverimgUrlForLs}}">
              <source media="(min-width: {{mediumRes}})" srcset="{{ad.coverimgUrlForMs}}">
              <source media="(max-width: {{smallRes}})" srcset="{{ad.coverimgUrlForXs}}">
              <source srcset="{{ad.coverimgUrlForXs}}">
              <img class="img2" alt="Image missing" src="{{ad.coverimgUrlForXs}}" (click)="openDetails(ad.id)">
            </picture>
          </div>
          <div class="d5">
            <div class="text-center t1">
              <b>{{ad.shortText}}</b>
            </div>
            <span class="s2">{{ad.storeDetails.landmark}}</span>
            <span class="s3">valid for {{ad.validityInDays}} days</span>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- <div class="footer globalfontStyle">
    <a href="/footer#privacy" class="noDecoration" target="_blank" style="border-right-style: groove; border-right-color: lightgrey">
      <span class="label label-info f1 ">Privacy</span>
    </a>
    <a href="/footer#TnC" target="_blank" class="noDecoration">
      <span class="label label-info f1">Terms and Conditions</span>
    </a>
  </div> -->
</div>

<footer class="footer globalfontStyle" *ngIf="isVisible">
  <a href="/footer#privacy" class="noDecoration" target="_blank" style="border-right-style: groove; border-right-color: lightgrey">
    <span class="label label-info f1 ">Privacy</span>
  </a>
  <a href="/footer#TnC" target="_blank" class="noDecoration">
    <span class="label label-info f1">Terms and Conditions</span>
  </a>
</footer>
<app-ad-details (showHome)="openHome($event)" #adDetails></app-ad-details>