#admin-dashboard-component {
  .sidenav-container {
    height: 100%;
  }
  .sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  }
  .active {
    background-color: lightgray;
  }
  .b1 {
    margin-left: 70%
  }
}