<div id="admin-dashboard-component">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
      <mat-nav-list>
        <a id="1" [ngClass]="{'active': id === 1 }" mat-list-item (click)="openDashboardDetails()">Dashboard</a>
        <a id="2" [ngClass]="{'active': id === 2 }" mat-list-item (click)="openRetailerHome()">Retailers</a>
        <a id="3" [ngClass]="{'active': id === 3 }" mat-list-item (click)="openAdvertHome()">Advert</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>ShopWalk : Admin View</span>
        <button class="b1" (click)="logout()"> Logout </button>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>