<div id="store-view-component" *ngIf="isVisible">
  <div class="container backgroundContainer f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div class="text-center">
      <h1>View Store</h1>
    </div>
    <div class="row">
      <form #store="ngForm">
        <div class="form-group column">
          <label for="retailerId">Retailer Id</label>
          <input type="text" disabled class="form-control" id="retailerId" [(ngModel)]="storeDetails.retailerId" name="retailerId">
        </div>
        <div class="form-group column">
          <label for="retailerName">Retailer Name</label>
          <input type="text" disabled class="form-control" id="retailerName" [(ngModel)]="retailerName" name="retailerName">
        </div>
        <div class="form-group column">
          <label for="name">Name</label>
          <input disabled type="text" class="form-control" id="name" [(ngModel)]="storeDetails.storeName" name="name">
        </div>
        <div class="form-group column">
          <label for="phoneNumber">phoneNumber</label>
          <input type="text" disabled class="form-control" id="name" minlength="10" maxlength="15" [(ngModel)]="storeDetails.phone"
            name="phoneNumber">
        </div>
        <div class="form-group column">
          <label for="Latitude">Latitude</label>
          <input disabled type="text" class="form-control" id="Latitude" [(ngModel)]="storeDetails.location.latitude" name="Latitude">
        </div>
        <div class="form-group column">
          <label for="Longitude">Longitude</label>
          <input disabled type="text" class="form-control" id="Longitude" [(ngModel)]="storeDetails.location.longitude" name="Longitude">
        </div>
        <div class="form-group column">
          <label for="address">Address</label>
          <input disabled type="text" class="form-control" id="address" [(ngModel)]="storeDetails.address" name="address">
        </div>
        <div class="form-group column">
          <label for="landmark">Locality</label>
          <input disabled type="text" class="form-control" id="landmark" [(ngModel)]="storeDetails.landmark" name="landmark">
        </div>
        <div class="form-group column">
          <label for="City">City</label>
          <br>
          <mat-form-field>
            <mat-select disabled [(value)]="storeDetails.city">
              <mat-option *ngFor="let city of cities" [value]="city.code">
                {{city.code}} ({{city.countyCode}})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group column">
          <label for="storeTimings">Store Timings</label>
          <input disabled type="text" class="form-control" id="storeTimings" [(ngModel)]="storeDetails.storeTimings" name="storeTimings">
        </div>
        <div>
          <button type="button" class="btn btn-default" (click)="OnClose()">Close</button>
        </div>
        <div *ngIf="showMsg">
          <div *ngIf="!isSuccess" class="errorTextColor"> Error: Update Failed</div>
          <div *ngIf="isSuccess" class="infoTextColor"> Updated successfully... Redirecting to Store details page</div>
        </div>
      </form>
    </div>
  </div>
</div>