<div id="ad-create-component">
  <div *ngIf="this.visible" class="container backgroundContainer layout">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div class="text-center">
      <h1>Create Ad</h1>
      <b>Master Id : </b> {{masterId}}
    </div>
    <div class="row">
      <form #ad="ngForm">
        <div class="form-group column">
          <label for="retailerName">Retailer Name</label>
          <span class="errorTextColor">*</span>
          <br>
          <mat-form-field>
            <mat-select [(value)]=retailerId [formControl]="retailerControl" required>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let retailerdtls of retailerDetails" value={{retailerdtls.id}} (click)="OnRetailerSelect(retailerdtls)">{{retailerdtls.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="retailerControl.hasError('required')">Please choose a retailer</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group column">
          <label for="storeName">Store Name</label>
          <span class="errorTextColor">*</span>
          <span class="errorMsg" *ngIf="storeDetails.length == 0"> (There are no stores for the selected retailer)</span>
          <br>
          <mat-form-field class="storeNameWidth">
            <mat-select [(value)]=storeId [formControl]="storeControl" required multiple>
              <mat-select-trigger>
                {{storeControl.value ? storeControl.value[0] : ''}}
                <span *ngIf="storeControl.value?.length > 1" class="additional-selection">
                  (+{{storeControl.value.length - 1}} others)
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let storeDtls of storeDetails" value={{storeDtls.storeName}} (click)="onSelectOfStores(storeDtls)">{{storeDtls.storeName}} ({{storeDtls.landmark}})</mat-option>
            </mat-select>
            <mat-error *ngIf="storeControl.hasError('required')">Please choose a store</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group column">
          <label for="adShortText">Short text</label>
          <!-- <span class="errorTextColor">*</span> -->
          <input type="text" class="form-control" id="adShortText" [(ngModel)]="shortText" name="adShortText" #adShortText="ngModel">
          <!-- <div *ngIf="adShortText.errors && (adShortText.dirty || adShortText.touched)" class="alert alert-danger">
            <div [hidden]="!adShortText.errors.required">
              ShortText is required!
            </div>
          </div> -->
        </div>
        <div class="form-group column">
          <label for="adLongText">Long text</label>
          <!-- <span class="errorTextColor">*</span> -->
          <input type="text" class="form-control" id="adLongText" [(ngModel)]="longText" name="adLongText"  #adLongText="ngModel">
          <!-- <div *ngIf="adLongText.errors && (adLongText.dirty || adLongText.touched)" class="alert alert-danger">
            <div [hidden]="!adLongText.errors.required">
              longText is required!
            </div>
          </div> -->
        </div>
        <div class="form-group column">
          <label for="startDate1">Start Date</label>
          <span class="errorTextColor">*</span>
          <input type="date" required class="form-control" id="startDate1" (blur)="OnDateChange()" [(ngModel)]="startDate" name="startDate1"
            #startDate1="ngModel">
          <div *ngIf="!isValidDate" class="alert alert-danger">
            startDate cannot be greater than endDate
          </div>
          <div *ngIf="!isValidStartDate" class="alert alert-danger">
            Invalid startDate
          </div>
          <div *ngIf="startDate1.errors && (startDate1.dirty || startDate1.touched)" class="alert alert-danger">
            <div [hidden]="!startDate1.errors.required">
              startDate is required!
            </div>
          </div>
        </div>
        <div class="form-group column">
          <label for="endDateId">End Date</label>
          <span class="errorTextColor">*</span>
          <input type="date" required class="form-control" id="endDateId" (blur)="OnDateChange()" [(ngModel)]="endDate" name="endDateId"
            #endDateId="ngModel">
          <div *ngIf="!isValidDate" class="alert alert-danger">
            startDate cannot be greater than endDate
          </div>
          <div *ngIf="endDateId.errors && (endDateId.dirty || endDateId.touched)" class="alert alert-danger">
            <div [hidden]="!endDateId.errors.required">
              endDate is required!
            </div>
          </div>
        </div>
        <div class="form-group column">
          <label for="category">Category</label>
          <input type="text" class="form-control" id="category" [(ngModel)]="category" name="category">
        </div>
        <div class="form-group column">
          <label for="LogoPath" title="accepts image or pdf">Flyr</label>
          <span class="errorTextColor">*</span>
          <input type="file" required class="form-control browse" [(ngModel)]="imageName" name="LogoPath" (change)="getFiles($event)"
            accept="image/*,application/pdf" #LogoPath="ngModel">
          <span *ngIf="!isValidImgSize" class="errorTextColor">File size cannot exceed more than 1MB</span>
          <div *ngIf="LogoPath.errors && (LogoPath.dirty || LogoPath.touched)" class="alert alert-danger">
            <div [hidden]="!LogoPath.errors.required">
              Flyr is required!
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div>
          <button type="submit" class="btn btn-default" [disabled]="!ad.form.valid || retailerControl.hasError('required') || storeControl.hasError('required')"
            (click)="OnSave()">Submit</button>
          <span class="btnmargin"></span>
          <button type="button" class="btn btn-default" (click)="OnCancel()">Cancel</button>
        </div>
        <div *ngIf="showMsg">
          <div *ngIf="!isSuccess" class="errorTextColor"> Error: Create Failed</div>
          <div *ngIf="isSuccess" class="infoTextColor"> Created successfully... Redirecting to Store details page</div>
        </div>
      </form>
    </div>
  </div>
</div>