#ad-create-component {
    .backgroundContainer {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    .column {
        float: left;
        width: 45%;
        margin: 2%
    }
    .additional-selection {
        opacity: 0.75;
        font-size: 0.75em;
    }
    .layout {
        margin-left: 15%;
        margin-right: 5%;
        margin-top: 3%
    }
    .errorMsg {
        color: red;
        font-size: x-small
    }
    .storeNameWidth {
        width: 50%
    }
    .btnmargin {
        margin: 2px
    }
}