/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    margin: 0;
}

.errorTextColor {
    color: red
}

.infoTextColor {
    color: blue
}

.globalfontStyle{
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}