#ad-details-component {
    .img1 {
        height: 100px;
        cursor: pointer;
    }
    .img1:hover {
        opacity: 0.3;
    }
    .img2 {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .r1 {
        height: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .s1 {
        font-size: 50px
    }
    .s2 {
        font-size: unset;
    }
    .s3 {
        font-size: unset;
    }
    .s4 {
        font-size: small;
        text-align: center;
    }
    .m1 {
        margin-bottom: 5%
    }
    @media only screen and (max-width: 699px) {
        .img1 {
            height: 50px;
        }
        .s1 {
            font-size: medium;
        }
        .s2 {
            font-size: x-small
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    /*iPadAir*/
    @media only screen and (min-width: 700px) {
        .img1 {
            height: 70px;
        }
        .s1 {
            font-size: x-large
        }
        .s2 {
            font-size: small
        }
        .s3 {
            font-size: 80%;
        }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 1270px) {
        .img1 {
            height: 100px;
        }
        .s1 {
            font-size: 35px
        }
        .s2 {
            font-size: unset;
        }
        .s3 {
            font-size: unset;
        }
    }
}