<div id="ad-details-component" *ngIf="isVisible">
  <div class="container-fluid globalfontStyle" *ngIf="!isSmallScreen">
    <div class="row r1">
      <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2">
        <img class="img1" src="../../assets/images/icons/back-arrow-2.svg" alt="Current location" (click)="close()">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: center; ">
        <span class="s1">{{adDetails.retailerName}} - {{adDetails.shortText}}</span>
        <br>
        <span class="s2"> Total pages : {{totalImageCount}} </span>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 s3">
        {{address}}
      </div>
    </div>
  </div>
  <div class="container-fluid globalfontStyle" *ngIf="isSmallScreen">
    <div class="m1">
      <span style="float: left; width: fit-content">
        <img class="img1" src="../../assets/images/icons/back-arrow-2.png" alt="Current location" (click)="close()">
      </span>
      <div style="text-align: center">
        <span class="s1">
          <b>{{adDetails.retailerName}} - {{adDetails.shortText}}</b>
        </span>
        <br>
        <span class="s2"> Total Images : {{totalImageCount}} </span>
      </div>
      
    </div>
  </div>
  <div class="container globalfontStyle">
    <div class="column">
      <div class="col-lg-12 col-md-12 col-xs-12" *ngFor="let img of this.originalImages">
        <mat-card class="cardDim">
          <img class="img2" src={{img.url}} alt="Image missing">
        </mat-card>
      </div>
    </div>
  </div>
</div>