<div id="store-create-component" *ngIf="isVisible">
  <div class="container backgroundContainer f1">
    <ng2-slim-loading-bar></ng2-slim-loading-bar>
    <div class="text-center">
      <h1>Create Store</h1>
    </div>
    <div class="row">
      <form #store="ngForm">
        <div class="form-group column">
          <label for="retailerId">Retailer Id</label>
          <input type="text" disabled class="form-control" id="retailerId" [(ngModel)]="storeDetails.retailerId" name="retailerId">
        </div>
        <div class="form-group column">
          <label for="retailerName">Retailer Name</label>
          <input type="text" disabled class="form-control" id="retailerName" [(ngModel)]="retailerDetails.name" name="retailerName">
        </div>
        <div class="form-group column">
          <label for="name">Name</label>
          <span class="errorTextColor">*</span>
          <input type="text" class="form-control" id="name" required [(ngModel)]="storeDetails.storeName" name="name" #name="ngModel">
          <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
            <div [hidden]="!name.errors.required">
              Retailer name is required!
            </div>
          </div>
        </div>
        <div class="form-group column">
          <label for="phoneNumber">phoneNumber</label>
          <input type="text" class="form-control" id="name" minlength="10" maxlength="15" [(ngModel)]="storeDetails.phone" name="phoneNumber"
            #phoneNumber="ngModel">
          <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
            <div [hidden]="!phoneNumber.errors.minlength">
              phoneNumber must be at least 10 characters long.
            </div>
            <div [hidden]="!phoneNumber.errors.maxlength">
              phoneNumber cannot be more than 15 characters long.
            </div>
          </div>
        </div>
        <div class="form-group column">
          <label for="Latitude">Latitude</label>
          <input type="text" class="form-control" id="Latitude" [range]="[-90, 90]" [(ngModel)]="storeDetails.latitude" name="Latitude"
            #Latitude="ngModel">
          <div *ngIf="Latitude.errors && (Latitude.dirty || Latitude.touched)" class="alert alert-danger">
            <p [hidden]="!Latitude.errors.range">
              Latitude range is[-90, 90].
            </p>
          </div>
        </div>
        <div class="form-group column">
          <label for="Longitude">Longitude</label>
          <input type="text" class="form-control" id="Longitude" [range]="[-180, 180]" [(ngModel)]="storeDetails.longitude" name="Longitude"
            #Longitude="ngModel">
          <div *ngIf="Longitude.errors && (Longitude.dirty || Longitude.touched)" class="alert alert-danger">
            <p [hidden]="!Longitude.errors.range">
              Longitude range is [-180, 180].
            </p>
          </div>
        </div>
        <div class="form-group column">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" [(ngModel)]="storeDetails.address" name="address">
        </div>
        <div class="form-group column">
          <label for="landmark">Locality</label>
          <input type="text" class="form-control" id="landmark" [(ngModel)]="storeDetails.landmark" name="landmark">
        </div>
        <div class="form-group column">
          <label for="City">City</label>
          <br>
          <mat-form-field>
            <mat-select [(value)]="storeDetails.city">
              <mat-option *ngFor="let city of cities" [value]="city.code">
                {{city.code}} ({{city.countyCode}})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group column">
          <label for="storeTimings">Store Timings</label>
          <input type="text" class="form-control" id="storeTimings" [(ngModel)]="storeDetails.storeTimings" name="storeTimings">
        </div>
        <div>
          <button type="submit" class="btn btn-default" [disabled]="!store.form.valid" (click)="OnSave()">Submit</button>
          <span class="m1"></span>
          <button type="button" class="btn btn-default" (click)="OnCancel()">Cancel</button>
        </div>
        <div *ngIf="showMsg">
          <div *ngIf="!isSuccess" class="errorTextColor"> Error: Create Failed</div>
          <div *ngIf="isSuccess" class="infoTextColor"> Created successfully... Redirecting to Store details page</div>
        </div>
      </form>
    </div>
  </div>
</div>